h1 {
    text-align:center;
}

.topnav {
    background-color: #333;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

h3 {
    text-align:center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color:silver;
    color: black;
}

.projects {
    background-color: black;
    color: white;
    height: 700px;
    /* margin-top: 60px; */
    /* padding-top: 25px; */
}

.project-container {
    display: inline;
}

.project {
    width: 49%;
    float: left;
    border: 5px solid green;
    height: 500px;
    text-align: center;
}

#contact {
    float: left;
    width: 100%;
    background-color: thistle;
}

.icon {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    padding-top: 10px;
    margin-top: 10px; 
    z-index: 10;
}

td a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-bottom: 10px;
}